body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-273px;
  width:353px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:15px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:70px;
  width:174px;
  height:16px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:101px;
  width:133px;
  height:16px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:138px;
  width:107px;
  height:16px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:97px;
  width:33px;
  height:20px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:97px;
  width:33px;
  height:20px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:169px;
  width:223px;
  height:48px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:243px;
  width:140px;
  height:40px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:243px;
  width:140px;
  height:40px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:29px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:193px;
  width:300px;
  height:29px;
  color:#FF0000;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
